<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap">
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@1.3.0/dist/tailwind.min.css">
  <style>
    html {
      font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    }
  </style>
</head>
<body class="bg-gray-800">
  <div id="app">

    <div class="container mx-auto px-6 lg:px-8">
      <h1 class="mt-3 mb-6 font-thin text-xl text-gray-200 px-3 sm:px-0 xl:text-3xl" x-text="title">Summit Series Invitational Standings — Summit Series EU Week 4 </h1>
      <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-1/5">
          <ul class="mb-4 md:mr-4 rounded border border-gray-700 overflow-hidden divide-y divide-gray-700 text-gray-600">
            <li>
              <a
                class="block px-4 py-2 hover:text-gray-200 transition duration-100"
                :class="current == -1 ? 'bg-gray-900 text-gray-200' : 'text-gray-500'"
                href=""
                @click.prevent="changeGame(-1)"
              >
                All games</a>
            </li>
            <li v-for="(game, index) in games" :key="game">
              <a
                class="block px-4 py-2 hover:text-gray-200 transition duration-100"
                :class="current == index ? 'bg-gray-900 text-gray-200' : 'text-gray-500'"
                href=""
                @click.prevent="changeGame(index)"
              >Game {{ index+1 }}</a>
            </li>
          </ul>
        </div>
        <div class="w-full md:w-4/5 mb-5">
          <div class="overflow-x-auto border border-gray-700 sm:rounded">
            <table class="table-auto md:min-w-full divide-y divide-gray-700">
              <thead>
                <tr>
                  <th class="px-6 py-3 bg-gray-900 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Team
                  </th>
                  <th class="px-6 py-3 bg-gray-900 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Kills
                  </th>
                  <th class="px-6 py-3 bg-gray-900 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Placement Points
                  </th>
                  <th class="px-6 py-3 bg-gray-900 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Total Points
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-700">
                <tr
                  class="bg-gray-800"
                  :class="teamName(team.teamName) == 'Luminosity Gaming' ? 'text-white bg-blue-900' : 'text-gray-500'"
                  v-for="team in teams"
                  :key="team"
                >
                  <td class="px-6 py-4 whitespace-no-wrap">
                    <span class="leading-5 text-base font-medium capitalize">{{ teamName(team.teamName) }}</span>
                  </td>
                  <td class="px-6 py-4 whitespace-no-wrap">{{ team.kills }}</td>
                  <td class="px-6 py-4 whitespace-no-wrap">{{ team.placement_points }}</td>
                  <td class="px-6 py-4 whitespace-no-wrap">{{ team.total_points ? team.total_points : team.match_total_points }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <script>

    var app = new Vue({
      el: '#app',
      data: {
        realm: {},
        games: [],
        teams: [],
        current: -1,
        timer: ''
      },
      created() {
        this.fetchGames();
        this.timer = setInterval(this.fetchGames, 1800000);
      },
      methods: {
        async fetchGames() {
          const response = await fetch('https://smsserver.apirealm.info/apex-api.php?id=18');
          // const response = await fetch('http://127.0.0.1:5500/realm-apex-18.json');
          const data = await response.json();
          this.realm = data;
          this.games = Object.entries(data.team_match_points);
          this.teams = mapPoints(Object.entries(data.team_points));
          this.current = -1;
        },
        cancelAutoUpdate () {
          clearInterval(this.timer)
        },
        changeGame(index) {
          this.current = index
          if (index != -1) {
            let game = this.games.slice().reverse()[index]
            let teams = mapPoints(Object.entries(game[1]))
            this.teams = teams.sort((a, b) => {
              if (a.match_total_points > b.match_total_points) {
                return -1;
              }
              if (a.match_total_points < b.match_total_points) {
                return 1;
              }
              return 0;
            });
          } else {
            this.teams = mapPoints(Object.entries(this.realm.team_points))
          }
        },
        teamName(name) {
          if(name == "krabbypattyform") name="KrabbyPattyFormula";
          if(name == "Avez") name="OxygenUsers";
          if(name == "Godsent") name="Flashpoint";
          if(name == "Clique") name="Clique Esports";
          if(name == "luminosity") name="Luminosity Gaming";
          if(name == "eurices daycare") name="Eurieces Daycare";
          if(name == "k1ck") name="K1CK";
          if(name == "orglessandhungry") name="OrglessAndHungry";
          if(name == "majorpushers") name="MajorPushers";
          if(name == "flavorofthemonth") name="FlavorOfTheMonth";
          if(name == "Youlikethatmate") name="YouLikeThatMate";
          if(name == "aimassist") name="AimAssist";
          if(name == "major pushers") name="majorpushers";
          if(name == "nrg") name="NRG";
          if(name == "clg") name="CLG";
          if(name == "hps") name="HPS";
          if(name == "tsm") name="TSM";
          if(name == "2b1c") name="2 Brains 1 Controller";
          if(name == "smile") name="2 Brains 1 Controller";
          if(name == "tvn") name="Clique Esports";
          if(name == "navi") name="Natus Vincere";
          if(name == "flo-rida") name="flo rida";
          if(name == "euriece daycare") name="eurieces daycare";
          return name;
        }
      },
      beforeDestroy () {
        clearInterval(this.timer)
      },
      destroyed() {
        cancelAutoUpdate()
      }
    })

    const mapPoints = (teams) => {
      return teams.map((team) => {
        let teamName = team[0].startsWith("team") ? team[0].split(":")[1].toLowerCase() : team[0];
        team = team[1];
        team.teamName = teamName;
        return team;
      })
    }

  </script>

</body>
</html>
